
* {
	margin : 0; 
	padding : 0;
	box-sizing: border-box;
}
.clr {
	color: white;
}
.form-add {
	left: 35%;
	top:170px;
	margin-right: 20px;
	position: absolute	;
}
.head {
	font-size: 2.5rem;
	font-family: 'times roman';
}
.header {
	font-size: 2.5rem;
	font-family: 'Caveat', cursive;
}
